html,
body {
    @extend %font-main;
    @include fonts(15px, 400, 30px);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;    
    color: $darkGrayishBlue;
}

a {
    color: $darkGrayishBlue; 
    cursor: pointer;   
}

a:hover,
a:active {
    color: $softRed; 
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;    
}




